{% extends 'layout.html.twig' %}



{% block content %}
<main class="app-content">
    <div class="notfound container text-center">
        <h1>Page Introuvable !</h1>
        <img src="/img/error404.png">
    </div>
</main>

{% endblock %}